.Weather {
  border: 1px solid #64638f;
  border-radius: 4px;
  background-color: #cbc9ff;
  padding: 20px;
}

.Weather h1 {
  font-size: 50px;
  font-weight: bolder;
  color: #64638f;
  margin: 20px 0 0 0;
}

.Weather .sub-titles {
  color: #64638f;
  font-size: 14px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style: none;
}

.Weather .btn {
  background-color: #64638f;
  border-color: #64638f;
  color: #ebeafe;
}

.Weather canvas {
  margin-top: 10px;
}

.Weather .temperature {
  font-size: 100px;
  color: #64638f;
  margin-left: 10px;
}

.Weather .unit {
  color: #64638f;
  font-size: 24px;
  position: relative;
  top: -60px;
}

.Weather .extra-info {
  color: #64638f;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  margin-top: 80px;
}
